
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        
            background-image: url(download.jpg);
            background-repeat: no-repeat;
            background-size: cover;
          
        }

        h1{
            color:white;
            font-size: 85px;
            margin: 0;
            font-weight: bold;
            
        }
        h2{
            color: red;
            font-size: 90px;
            margin: 0;
        }
        h3{
            color: white;
            font-size: 20px;
        }
        h4{
            color: white;
            font-weight: lighter;
            font-size: 20px;
            margin: 0;
        }
        p{
            color: white;
            font-weight: 100;
            font-size: 24px; 
            line-height: 1.6;
        }

.learn-more-button {
    background-color: red; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: 'Roboto', sans-serif; 
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    text-decoration: none;
    margin: 55px;
}


.learn-more-button:hover {
    background-color: darkred; 
    transform: scale(1.05); 
}
.contact-info {
    color: red; 
    font-size: 18px; 
 
  margin: 55px;

}
.contact-info p {
    color: red;
    margin: 5px; 
    line-height: 1.2; 
   
}
.contact-info a {
    color: red; 
    text-decoration: none; 
}

.contact-info a:hover {
    text-decoration: underline; 
}

.right-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    width: 655px;
    height: 900px;
    object-fit: cover;
}
